<div class="task-management-app">
  <header class="app-header">
    <h1 class="app-title">{{ title }}</h1>
    <button class="export-btn" (click)="exportTasks()">
  <i class="fas fa-file-export"></i>
  <span>Export Tasks to CSV</span>
</button>
  </header>
  <main class="app-main">
    <section class="task-form-section">
      <app-task-form [taskToEdit]="selectedTask" (taskUpdated)="onTaskUpdated()"></app-task-form>
    </section>
    <section class="task-list-section">
      <h2 class="section-title">Task List</h2>
      <app-task-list (editTask)="onEditTask($event)"></app-task-list>
    </section>
  </main>
</div>
